.view_box{
    text-align:center;
}
/* .view_body{
    margin:0 auto;
    max-width:86vw;
} */

.player {
    position:relative;
}

.transparent {
    opacity: 0.7;
}

.visible {
    opacity: 1.0;
}

.AppTitle{
    margin-top:20px;
}

.AppTitle h1 {
    margin-bottom:10px;
}

.AppTitle h1, .AppTitle h2{
    text-shadow: 1px 1px 1px #000;
    font-kerning: auto;
    margin:0;
    color:#569681
}
a.waterfall{
    background:#C6EAF4 url(../img/waterfall.gif) 0% 0% no-repeat;
    background-size:cover;
}

.MediaPositioning {
    margin-top: 20%;
}
@media (max-width: 768px) {
    .MediaPositioning {
      margin-top:auto;
    }
  }
#main {
    height: 100%;
    display: flex;
    flex-direction: column;
}


